body {
  background-color: #8f00ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
}
.container {
  border-radius: 20px;
  width: 450px;
  height: 250px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: #8f00ff;
  box-sizing: border-box;
  padding: 40px;
  font-size: 18px;
}
#round {
  font-size: 30px;
  text-align: center;
}
 
.buttons {
  width: 220px;
  display: flex;
  justify-content: space-between;
}
button {
  background-color: #8f00ff;
  font-weight: bold;
  color: white;
  height: 30px;
  padding: 8px;
  border-radius: 10px;
}
